<div xmlns:th="http//thymeleaf.org" th:fragment="menu" class="topo">
	<div class="topointerior">
		<div class="logo">
			Game Station
		</div>
		
		<div class="menu">
			<img src="img/list.png" class="menuMobile" onclick="toggleMenu()">
			<ul id="menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/sobre">SOBRE</a></li>
				<li><a href="/formulario">FORMULÁRIO</a></li>
				<li sec:authorize="!isAuthenticated()" id="cart">
					<a th:href="@{/usuario/formulario}"><img src="img/cart.png"></a>
				</li>
				<li sec:authorize="hasRole('ROLE_USER')" id="cart">
					<a th:href="@{/produto/carrinho}"><img src="img/cart.png"></a>
				</li>
				<li><a href="/usuario/formulario">CADASTRO</a></li>
				<li sec:authorize="!isAuthenticated()"><a href="/login">LOGIN</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/logout">LOGOUT</a></li>
			</ul>
		</div>
	</div>
</div>