<div xmlns:th="http//thymeleaf.org" th:fragment="menu" class="topo">
	<div class="topointerior">
		<div class="logo">
			Game Station
		</div>
		
		<div class="menu">
			<img src="img/list.png" class="menuMobile" onclick="toggleMenu()">
			<ul id="menu">
				<li><a href="/">HOME</a></li>
				<li><a href="/galeria">GALERIA</a></li>
				<li><a href="/formulario">FORMULÁRIO</a></li>
				<li id="cart"><a href="/produto/carrinho"><img src="img/cart.png"></a></li>
				<li><a href="/usuario/formulario">CADASTRO</a></li>
				<li><a href="/login">LOGIN</a></li>
			</ul>
		</div>
	</div>
</div>