<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org"
	  xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<title></title>
	
	<link rel="stylesheet" type="text/css" href="/css/template-style.css">
	<link rel="stylesheet" type="text/css" href="/css/form-style.css">
	
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
	
	<div class="banner">
		<div class="bannerinterior">
			<div class="banneresquerda">
				<img src="img/Ryu.png">
			</div>
			<div class="bannerdireita">
				<img src="img/img1.png">
			</div>
		</div>
	</div>
	
	<div class="formulario">
		<div class="formulariointerior">
			<div class="titulo">
				Contate-nos
			</div>
			<form method="GET">
				<div class="row">
					<div class="col-25">
						<label for="fnome">Nome</label>
					</div>
					<div class="col-75">
						<input type="text" name="nome" placeholder="Nome Completo">
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="femail">E-mail</label>
					</div>
					<div class="col-75">
						<input type="email" name="email" placeholder="E-mail">
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="ffone">Telefone</label>
					</div>
					<div class="col-75">
						<input type="text" id="br_celphones" name="br_celphones" placeholder="Telefone">
					</div>
				</div>
				<div class="row">
					<div class="col-25">
						<label for="fmsg">Mensagem</label>
					</div>
					<div class="col-75">
						<textarea name="mensagem" placeholder="Deixe sua mensagem..." style="height: 200px">
						</textarea>
					</div>
				</div>
				<div class="row">
					<div class="widget">
					  	<input type="submit" value="Enviar">
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer"></div>

	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery.mask.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>