<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/template-style.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<div class="topo">
		<div class="topointerior">
			<div class="logo">
				Game Station
			</div>
			

			<div class="menu">
				<img src="img/list.png" class="menuMobile" onclick="toggleMenu()">
				<ul id="menu">
					<li><a href="/index">HOME</a></li>
					<li><a href="/sobre">SOBRE</a></li>
					<li><a href="/galeria">GALERIA</a></li>
					<li><a href="/formulario">FORMULÁRIO</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<div class="bannerinterior">
			<div class="banneresquerda">
				<img src="img/Kratos.png">
			</div>
			<div class="bannerdireita">
				<img src="img/destaque.png">
			</div>
		</div>
	</div>

	<div class="conteudo">
		<div class="conteudointerno">
			<div class="titulo">
				Promoções do dia
			</div>
			<div class="produtos">
				<div class="info-produto">
					<img src="img/produtos/destaques/devil.jpg">
					<h3>Devil May Cry HD Collection</h3>
				
					R$ 78,00
				</div>
				<div class="info-produto">
					<img src="img/produtos/destaques/finalfantasy.jpg">
					<h3>Final Fantasy XV</h3>
					
					R$ 90,00	
				</div>
				<div class="info-produto">
					<img src="img/produtos/destaques/AssassinsCreed.jpg">
					<h3>Assassins Creed Rogue</h3>
					
					R$ 80,00
						
				</div>
				<div class="info-produto">
					<img src="img/produtos/destaques/godOfWar.jpg">
					<h3>God of War 4</h3>
					
					R$ 150,00	
				</div>
				<div class="info-produto">
					<img src="img/produtos/destaques/fifa18.jpg">
					<h3>Fifa 18</h3>
					
					R$ 88,90
						
				</div>
				<div class="info-produto">
					<img src="img/produtos/destaques/DBZ.jpg">
					<h3>Dragon Ball Fighter Z</h3>
					
					R$ 130,00
						
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div id="rodape">
			Contato: (11) 1111-1111<br>
			data de criação: 06/05/2018<br>
			produzido por: Maike Bezerra
		</div>
	</footer>
</body>
</html>