<!DOCTYPE html>
<html xmlns:th="http//thymeleaf.org"
	  xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8">
	<title></title>
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="/css/template-style.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>

	<div class="banner">
		<div class="bannerinterior">
			<div class="banneresquerda">
				<img src="img/Kratos.png">
			</div>
			<div class="bannerdireita">
				<img src="img/destaque.png">
			</div>
		</div>
	</div>

	<div class="conteudo">
		<div class="conteudointerno">
			<div class="titulo">
				Lista de Produtos
			</div>
			
			<ul style="list-style-type:none" class="produtos">
  				<li class="info-produto" th:each="produto : ${produtos}">
  					<img th:src="@{'img/produtos/'+ ${produto.nome} + '.jpg'}">
					<h5 id="nome-produto"><span th:text="${produto.nome}"></span></h5>
					<span th:text="${produto.preco}"></span><br>
					<a sec:authorize="!isAuthenticated()" th:href="@{/usuario/formulario}" id="btn-comprar" class="waves-effect waves-light btn-small">Comprar</a>
  					<a sec:authorize="hasRole('ROLE_USER')" th:href="@{/produto/carrinho/adicionar/{id}(id = ${produto.id})}" id="btn-comprar" class="waves-effect waves-light btn-small">Comprar</a>
  				</li>
			</ul>
		</div>
	</div>
	
	<footer>
		<div id="rodape">
			Contato: (11) 1111-1111<br>
			data de criação: 06/05/2018<br>
			produzido por: Maike Bezerra
		</div>
	</footer>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>