<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/template-style.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/script.js"></script>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="/resources/demos/style.css">
  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script>
	  	$( function() {
	   		 $( "#dialog" ).dialog();
	  	} );
  	</script>
</head>
<body>
	<div class="topo">
		<div class="topointerior">
			<div class="logo">
				Game Station
			</div>
			<div class="menu">
				<img src="img/list.png" class="menuMobile" onclick="toggleMenu()">
				<ul id="menu">
					<li><a href="/index">HOME</a></li>
					<li><a href="/sobre">SOBRE</a></li>
					<li><a href="/galeria">GALERIA</a></li>
					<li><a href="/formulario">FORMULÁRIO</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner">
		<div class="bannerinterior">
			<div class="banneresquerda">
				<img src="img/coringa.png">
			</div>
			<div class="bannerdireita">
				<img src="img/Batman.png">
			</div>
		</div>
	</div>

	<div id="dialog" title="Bem vindo">
  		<p>Conheça um pouco sobre nossa empresa :) .</p>
	</div>

	<div class="empresa">
		<div class="info-empresa">
			<div class="titulo">
				A Empresa
			</div>
			<img src="img/logo.png">
			<p>
				A Lismar é uma empresa pioneira na comercialização de parques compactos de diversão em Pernambuco, preocupando-se desde 1974 em buscar no exterior os melhores e mais modernos lançamentos de máquinas de lazer e entretenimento.O Game Station surge em 1998, reformulando o conceito de parques compactos para shopping centers, iniciando sua primeira operação na mais nova etapa do Shopping Center Recife, ocupando uma área de 1.300 metros quadrados.
			</p>
			<p>
				A implantação de novos parques aconteceu de forma rápida, e atualmente o Game Station conta com 23 parques, instalados não só na Região Metropolitana do Recife, como também em João Pessoa, Campina Grande, Aracaju, Natal, Maceió, Salvador, Fortaleza, Campinas e Rio de Janeiro. É objetivo da Rede Game Station continuar seu processo de expansão,levando o sucesso de suas operações no Nordeste para outros shopping centers em todo o Brasil.
			</p>
			<p>
				Os parques de diversões Game Station são os mais modernos na sua categoria: Parques Compactos. Com a mesma identidade visual, padronização nas operações e áreas em torno de 1000 m2, apresentam o que há de mais moderno em lazer e entretenimento em parques compactos. O Game Station é referência de diversão entre adultos, adolescente e crianças.
			</p>
			<p>
				Com a inauguração do complexo Game Station, do novo shopping Riomar, em Recife e agora também presente no Riomar Fortaleza, a rede de parques de diversão pernambucana traz uma evolução no seu conceito, passando a ser um centro de entretenimento familiar, aperfeiçoando ainda mais sua vocação de ser um espaço de lazer e entretenimento para todas as idades e para a família curtir junta. O espaço agrega além do Game Station tradicional que inclui sala de cinema 7D, também o Game Station Bowling, com 12 pistas profissionais de boliche e Restaurante Sports Bar, trazendo o complemento da alimentação para garantir mais conforto e comodidade para a permanência do público e transmissão do melhor do esporte mundial através de telas de alta definição.
			</p>
		</div>
	</div>
	<footer>
		<div id="rodape">
			Contato: (11) 1111-1111<br>
			data de criação: 06/05/2018<br>
			produzido por: Maike Bezerra
		</div>
	</footer>
</body>
</html>